<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/compiled/main.css">
    <title>Daxil ol</title>
</head>
<body>
    

    <div class="App_login">
        <div class="App_login__wrapper">
            <div class="container">
                <div class="App_login__formWrapper">
                   <div class="App_login__title center-align">
                    <h2>Bilgəh Nəzarət Buraxılış Sistemi</h2>
                   </div>
                    <form class="App_login__form" method="post">
                        <div class="App_login__image">
                            <img src="/static/img/logo.png" alt="logo">
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                              <input id="username" type="text" class="validate">
                              <label for="username">İstifadəçi adı</label>
                            </div>
                          </div>
                          <div class="row">
                            <div class="input-field col s12">
                              <input id="password" type="password" class="validate">
                              <label for="password">Şifrə</label>
                            </div>
                          </div>
                          <div class="App_login__btn">
                            <button class="btn waves-effect waves-light w-100" type="submit" name="action">Daxil ol
                                <i class="material-icons right">send</i>
                            </button>
                          </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="../static/js/vendors/materialize/bin/materialize.min.js"></script>
    <script src="../static/js/main.js"></script>
</body>
</html>